In [1]:
import urllib
import pandas as pd
import numpy as np
import datetime
import string
import pymysql as mdb

In [2]:
import sqlalchemy as sa
from pandas import read_sql

In [3]:
afile="/Users/abramvandergeest/mysql_insightwiki_auth.txt"
a=open(afile)
auth=a.readlines()
print auth[0],auth[1],auth[3]
con = mdb.connect(auth[0].rstrip(), auth[1].rstrip(), auth[2].rstrip(), auth[3].rstrip())
data=[]
with con:
    cur = con.cursor()
    
    sql='''SELECT `topics`.`topic_label` AS `tl`,`page_views`.`count` AS `vc`,`page_views`.`date` AS `vd` 
         FROM `topics` INNER JOIN `page_views` on `topics`.`ID` = `page_views`.`topic_id` 
         WHERE `topics`.`id`=%s '''

    print sql
    df=read_sql(sql, con,params=[75])

localhost
abram.ghost
wikidata

SELECT `topics`.`topic_label` AS `tl`,`page_views`.`count` AS `vc`,`page_views`.`date` AS `vd`
         FROM `topics` INNER JOIN `page_views` on `topics`.`ID` = `page_views`.`topic_id`
         WHERE `topics`.`id`=%s

In [4]:
df['tl'].head(10)

0      marriageunitedstates
1      marriageunitedstates
2      marriageunitedstates
3      marriageunitedstates
4      marriageunitedstates
5      marriageunitedstates
6      marriageunitedstates
7      marriageunitedstates
8      marriageunitedstates
9      marriageunitedstates
10     marriageunitedstates
11     marriageunitedstates
12     marriageunitedstates
13     marriageunitedstates
14     marriageunitedstates
15     marriageunitedstates
16     marriageunitedstates
17     marriageunitedstates
18     marriageunitedstates
19     marriageunitedstates
20     marriageunitedstates
21     marriageunitedstates
22     marriageunitedstates
23     marriageunitedstates
24     marriageunitedstates
25     marriageunitedstates
26     marriageunitedstates
27     marriageunitedstates
28     marriageunitedstates
29     marriageunitedstates
               ...
164    marriageunitedstates
165    marriageunitedstates
166    marriageunitedstates
167    marriageunitedstates
168    marriageunitedstates
169    marriageunitedstates
170    marriageunitedstates
171    marriageunitedstates
172    marriageunitedstates
173    marriageunitedstates
174    marriageunitedstates
175    marriageunitedstates
176    marriageunitedstates
177    marriageunitedstates
178    marriageunitedstates
179    marriageunitedstates
180    marriageunitedstates
181    marriageunitedstates
182    marriageunitedstates
183    marriageunitedstates
184    marriageunitedstates
185    marriageunitedstates
186    marriageunitedstates
187    marriageunitedstates
188    marriageunitedstates
189    marriageunitedstates
190    marriageunitedstates
191    marriageunitedstates
192    marriageunitedstates
193    marriageunitedstates
Name: tl, dtype: object